Repository WomenWhoCode/WWCodeGreenville, pull requests merged in 2023-10, with the labels that each got.

#56 docs: added hacktoberfest instructions to main README.md
  README.md
Labels: Hacktoberfest-Accepted

#57 Updated Readme and Profile template
  2023_Hacktoberfest_Profiles/Template.md
  README.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#70 Adding Jen's Profile
  2023_Hacktoberfest/Profiles/JenBauer_Profile.md
Labels: Hacktoberfest

#60 Updated: Added links for Online WWCode Greenville presence.
  README.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#81 Create your own profile - Kara Mansel
  2023_Hacktoberfest/Profiles/KaraMansel_Profile.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#66 Add network logo to readme
  .gitignore
  README.md
  assets/readme/about.svg
  assets/readme/acknowledgements.svg
  assets/readme/code_of_conduct.svg
  assets/readme/contact.svg
  assets/readme/contributing.svg
  assets/readme/greenville_teal_logo.png
  assets/readme/hacktoberfest.svg
  assets/readme/installation.svg
  assets/readme/license.svg
  assets/readme/prerequisites.svg
  assets/readme/roadmap.svg
  assets/readme/table_of_contents.svg
Labels: documentation, Hacktoberfest-Accepted, Hacktoberfest

#80 Create PrayranaKhadye_Profile.md
  2023_Hacktoberfest/Profiles/PrayranaKhadye_Profile.md
Labels: Hacktoberfest

#84 Update with Chapter 2 CollaborativeFiction-DebugMansion.md
  2023_Hacktoberfest/CollaborativeFiction-DebugMansion.md
Labels: Hacktoberfest

#86 added third chapter
  2023_Hacktoberfest/CollaborativeFiction-DebugMansion.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#90 Events API test suite creation
  HackGreenvilleEventsAPITestSuite/EventsAPI.json
Labels: Hacktoberfest-Accepted, Hacktoberfest

#88 Wrote Chapter 2
  2023_Hacktoberfest/InteractiveFiction-API_Antics/Chapter2.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#95 Karmen durbin's profile
  .DS_Store
  2023_Hacktoberfest/Profiles/KarmenDurbin_Profile.md
  2023_Hacktoberfest/Profiles/kd-profile-pic.JPG
  README.md
Labels: good first issue, Hacktoberfest

#100 Add my profile readme
  2023_Hacktoberfest/Profiles/devben_profile.md
  Gettingstarted.md
  README.md
  assets/readme/StarRepo.png
  assets/readme/compare-and-pull-request.png
  assets/readme/forkRepo.png
  assets/readme/gettingstarted.svg
Labels: Hacktoberfest

#104 Update Start_Chapter1.md
  2023_Hacktoberfest/InteractiveFiction-API_Antics/Start_Chapter1.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#103 Created SaumyaGupta_Profile.md
  2023_Hacktoberfest/Profiles/SaumyaGupta_Profile.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#101 added my readme profile
  2023_Hacktoberfest/Profiles/Stella_profile.md
  bifrost.json
Labels: Hacktoberfest-Accepted, Hacktoberfest

#106 Create ShilpiBansal_Profile.md
  2023_Hacktoberfest/Profiles/ShilpiBansal_Profile.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#102 Fix the error 404 page not found
  README.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#113 Add Newman HTML test output
  .github/workflows/EventsAPITestSuite.yml
Labels: enhancement, Hacktoberfest-Accepted, Hacktoberfest

#105 Update Chapter4.md
  2023_Hacktoberfest/InteractiveFiction-API_Antics/Chapter4.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#120 Update EventsAPI.json
  HackGreenvilleEventsAPITestSuite/EventsAPI.json
Labels: Hacktoberfest-Accepted, Hacktoberfest

#123 Create pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, Hacktoberfest-Accepted, Hacktoberfest

#125 docs: adding online event videos to documents
  2023_Hacktoberfest/EventVideos/event_videos.md
Labels: documentation, Hacktoberfest-Accepted, Hacktoberfest

#127 fix duplicate roadmap and missing contributing in table of contents
  README.md
Labels: Hacktoberfest-Accepted, Hacktoberfest

#129 Update EventsAPI.json
  HackGreenvilleEventsAPITestSuite/EventsAPI.json
Labels: Hacktoberfest-Accepted, Hacktoberfest
